/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/Components/shared/Loader/Loader.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.Loader_spinner__AhAsz {
  width: 50px;

  height: 50px;

  border: 5px solid;

  border-radius: 50%;

  border-color: var(--naranja-claro) transparent;
  animation: Loader_giro-completo__B_6JT 1.5s linear infinite;
}
.Loader_spinnerContainer__vwLKU {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes Loader_giro-completo__B_6JT {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

