/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Clientes/Cliente.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.cliente-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gris-medio);
  color: var(--naranja);
  width: 100%;
  border: 1px dashed var(--naranja);
  padding: 3px;
}
.card-cliente {
  display: flex;

  width: 100%;
  font-size: 1rem;
}
.titulo-cliente {
  background-color: var(--gris-medio);
  color: var(--naranja);
  text-align: center;
}
.datos-cliente {
  display: flex;
  flex-direction: column;
  width: 70%;
  word-wrap: break-word;
}
.botones {
  display: flex;
  align-items: center;
  gap: 5px;
}
.boton-add-prestamo {
  background-image: url("/iconos/prestamo.ico");
}
.boton-card-cliente {
  border: 3px solid gray;
}
.clientes-container {
  background-color: var(--gris-medio);
  padding-left: 6px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Prestamos/Prestamo.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.prestamo-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gris-claro);
  color: var(--naranja);
  width: 100%;
  border: 1px dashed var(--naranja);
  padding: 3px;
}
.card-prestamo {
  display: flex;

  width: 100%;
  font-size: 1rem;
}
.titulo-prestamo {
  background-color: var(--gris-claro);
  color: var(--naranja);
  text-align: center;
}
.datos-prestamo {
  display: flex;
  flex-direction: column;
  width: 70%;
  word-wrap: break-word;
}
.botones {
  display: flex;
  align-items: center;
  gap: 5px;
}
.boton-add-pago {
  background-image: url("/iconos/icopago.ico");
}
.boton-card-prestamo {
  border: 3px solid gray;
}
.prestamos-container {
  background-color: var(--gris-claro);
  padding-left: 9px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Pagos/Pago.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.pago-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 100%;
  border: 1px dashed black;
  padding: 3px;
}
.card-pago {
  display: flex;

  width: 100%;
  font-size: 1rem;
}
.titulo-pago {
  background-color: white;
  color: black;
  text-align: center;
}
.datos-pago {
  display: flex;
  flex-direction: column;
  width: 70%;
  word-wrap: break-word;
}
.botones {
  display: flex;
  align-items: center;
  gap: 5px;
}
.boton-add-pago {
  background-image: url("/iconos/icopago.ico");
}
.boton-card-pago {
  border: 3px solid gray;
}
.pagos-container {
  background-color: white;
  padding-left: 6px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Rutas/Ruta.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.ruta-container {
  display: flex;
  flex-direction: column;
  background-color: var(--gris-oscuro);
  color: var(--naranja-claro);
  width: 100%;

  padding: 3px;
}
.card-ruta {
  display: flex;

  width: 100%;
  font-size: 1rem;
}
.titulo-ruta {
  background-color: var(--gris-oscuro);
  color: var(--naranja-claro);
  text-align: center;
}
.datos-ruta {
  display: flex;
  flex-direction: column;
  width: 70%;
  word-wrap: break-word;
}
.botones {
  display: flex;
  align-items: center;
  gap: 5px;
}
.boton-add-cliente {
  background-image: url("/iconos/add_user.ico");
}
.boton-card-ruta {
  border: 3px solid gray;
}
.rutas-container {
  background-color: var(--gris-oscuro);
  padding-left: 3px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/shared/Modal/Modal.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.modal {
  align-self: center;
  justify-self: center;
  position: relative;
  top: 30px;
  border: 2px solid var(--naranja-claro);
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 80vh;
}

.overlay {
  display: flex;
  justify-content: right;
  padding: 5px;
}
.modal-cerrar {
  background-image: url("/iconos/close.ico");
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--naranja-oscuro);
  padding: 5px;
}
.app-form {
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--gris-oscuro);
  color: white;
  padding: 5px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 10px;
}
.titulo-form {
  text-align: center;
  color: var(--naranja-claro);
  font-size: 1.2rem;
}
select {
  text-align: center;
}
.app-form-label {
  margin: 5px 0;
}
.app-form-input {
  margin: 5px 0;
  background-color: var(--gris-claro);
  border-radius: 5px;
}
.btn-primary {
  margin-top: 20px;
  border-radius: 10px;
  border: 3px solid var(--gris-oscuro);
  background-color: var(--naranja-claro);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Users/User.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.usuario-container {
  display: flex;
  flex-direction: column;
  background-color: var(black);
  color: var(--naranja-claro);
  width: 100%;
  border: 2px solid var(--naranja-claro);
  padding: 3px;
}
.card-usuario {
  display: flex;
  width: 100%;
  font-size: 1rem;
}
.titulo-usuarios {
  background-color: black;
  color: var(--naranja-claro);
  text-align: center;
}
.datos-usuario {
  display: flex;
  flex-direction: column;
  width: 70%;
  word-wrap: break-word;
}
.botones {
  display: flex;
  align-items: center;
  gap: 5px;
}
.boton-add-ruta {
  background-image: url("/iconos/ruta.ico");
}
.boton-card-users {
  border: 3px solid gray;
}
.rutas-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;

  color: var(--naranja-claro);
  width: 100%;
  border: 2px solid var(--naranja-claro);
  padding: 3px;
}
.users-container {
  background-color: black;
}

