.main-app {
  top: 50px;
  position: fixed;
  max-width: 320px;
}
nav {
  top: 5px;
  position: relative;
  display: flex;
  width: 320px;
  justify-content: space-around;
}
.boton-home-container {
  display: flex;
  justify-content: space-between;

  list-style-type: none;
  gap: 20px;
}

.main-container {
  position: relative;
  top: 20px;
  padding: 5px;
}
.users-container,
.rutas-container {
  overflow: auto;
  max-height: 80vh;
}

.boton-nav {
  border-radius: 30px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  padding: 10px;
  color: transparent;
  background-color: var(--naranja-claro);
  border: 3px solid var(--gris-oscuro);
}
.boton-home {
  background-image: url("/iconos/home_icon-icons.com_73532.ico");
}
.boton-users {
  background-image: url("/iconos/icono-users.ico");
}
.boton-reportes {
  background-image: url("/iconos/reportes.ico");
}
.boton-li {
}
.boton-calculate {
  background-image: url("/iconos/calculator_3534.ico");
}
.boton-actualizar {
  background-image: url("/iconos/icon-update.ico");
}
.boton-salir {
  background-image: url("/iconos/salir.ico");
}
.btn-adduser-container {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
.btn-adduser {
  color: var(--gris-oscuro);
  background-color: var(--naranja-claro);
  border: 3px solid var(--gris-oscuro);
  border-radius: 5px;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
.titulo-tabla {
}
.plan-item {
}
.plan {
  color: var(--naranja-claro);
  background-color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
}
.plan-tabla {
  width: auto;
  table-layout: auto;
  border-collapse: collapse;
}
.plan-encabezado {
  white-space: normal;
  text-align: center;
}
.plan-numero {
  text-align: right;
}
